<%- include('../partials/header') %>
    <div class="text-center my-5">
        <img src="https://i.discogs.com/xVf7dtYectWKha23QPE9ERO9fdg0s2vj6RzrccmHsTA/rs:fit/g:sm/q:90/h:600/w:444/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9BLTI1OTE0/My0xNTg1NjUyODI2/LTk0MTcuanBlZw.jpeg" alt="Sato" class="img-fluid" style="max-height:400px;" />
    </div>
    <h1>Hiroshi Sato</h1>
    <p>Hiroshi Sato is a true synth god. He built a legacy on sun-drenched songs of love, impossibly strong melodies, and his incredibly smooth, laid-back vocals that perfectly tie everything together. When you listen to definitive records like Awakening (1982) and Sailing Blaster (1984), you are hearing a masterclass in lush chord progressions and undeniable funk. And you cannot talk about Awakening without mentioning Wendy Matthews, her amazing vocal work throughout the album elevates those tracks to a whole new level. Sato also happens to be responsible for the best and most funky Beatles covers you will ever hear. Seriously, who else could turn Eight Days a Week into such a groove? His sound is so warm and addictive that not much time ever passes before I find myself playing these records again and again.</p>
    <div class="mb-5">
        <h2>Album Links</h2>
        <ul>
            <li><a href="https://www.youtube.com/watch?v=zFsbW5d6osc&list=RDzFsbW5d6osc&start_radio=1" target="_blank" rel="noopener">Awakening</a></li>
            <li><a href="https://www.youtube.com/watch?v=79XjDIbt56o&list=RD79XjDIbt56o&start_radio=1" target="_blank" rel="noopener">Sailing Blaster</a></li>
        </ul>
    </div>
<%- include('../partials/footer') %>