<%- include('../partials/header') %>
    <div class="text-center my-5">
        <img src="https://i.discogs.com/xVf7dtYectWKha23QPE9ERO9fdg0s2vj6RzrccmHsTA/rs:fit/g:sm/q:90/h:600/w:444/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9BLTI1OTE0/My0xNTg1NjUyODI2/LTk0MTcuanBlZw.jpeg" alt="Sato" class="img-fluid" style="max-height:400px;" />
    </div>
<%- include('../partials/footer') %>