<%- include('../partials/header') %>
    <h1>Matt's Favorite Japanese Music</h1>
    <div class="d-flex justify-content-center flex-wrap gap-4 my-4">
        <div class="text-center">
            <img src="https://i.discogs.com/yttsewPfSvnZu2eX7gnAlYAbW44Wo025oe6U62g-9FU/rs:fit/g:sm/q:90/h:600/w:470/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9BLTExOTUz/NTktMTU2NTU1Njkx/OS05NzA1LnBuZw.jpeg" alt="Tomoko" class="img-fluid" style="max-height:300px;" />
            <div>Tomoko</div>
        </div>
        <div class="text-center">
            <img src="https://i.discogs.com/xVf7dtYectWKha23QPE9ERO9fdg0s2vj6RzrccmHsTA/rs:fit/g:sm/q:90/h:600/w:444/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9BLTI1OTE0/My0xNTg1NjUyODI2/LTk0MTcuanBlZw.jpeg" alt="Sato" class="img-fluid" style="max-height:300px;" />
            <div>Sato</div>
        </div>
        <div class="text-center">
            <img src="https://i.discogs.com/n2Zu3I4q4vP-HX3eYQ78DeR3tZreWtxw-edKv-g3Zl4/rs:fit/g:sm/q:90/h:600/w:419/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9BLTIyMDYx/LTE2MzExNDg1NDct/NTI4My5qcGVn.jpeg" alt="YMO" class="img-fluid" style="max-height:300px;" />
            <div>YMO</div>
        </div>
        <div class="text-center">
            <img src="https://i.discogs.com/7YTkTuNyLmZ2VVogHVsN2sGxDWuuY8bO1XOBQ5dt8qQ/rs:fit/g:sm/q:90/h:600/w:464/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9BLTUwODct/MTUyODEzNTM3NC01/ODEzLmpwZWc.jpeg" alt="Sakamoto" class="img-fluid" style="max-height:300px;" />
            <div>Sakamoto</div>
        </div>
    </div>
    <p>Over the past few years, I’ve been exploring the incredible world of Japanese music. Along the way, several artists have stood out and become permanent fixtures on my all-time favorites list. This page is a collection of those artists, complete with links to some of the albums I love the most. I hope you enjoy discovering them as much as I have!</p>
<%- include('../partials/footer') %>