<%- include('../partials/header') %>
    <div class="text-center my-5">
        <img src="https://i.discogs.com/tRink0AVgAF8baJumE5zvFgKQT70o16J78Yi6CEtDtE/rs:fit/g:sm/q:90/h:600/w:519/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9BLTUwODct/MTc2Mjg1MDAxMy01/NDE3LmpwZWc.jpeg" alt="Sakamoto" class="img-fluid" style="max-height:400px;" />
    </div>
    <h1>Ryuichi Sakamoto</h1>
    <p>Ryuichi Sakamoto is incredibly hard to talk about simply because he was a true visionary that we lost far too soon on March 28, 2023. As one third of Yellow Magic Orchestra, he helped pioneer a completely new era of electronic sound, but he is equally beloved for his breathtaking soundtrack work on iconic films like Merry Christmas, Mr. Lawrence (1983), The Last Emperor (1987), and The Revenant (2015). His deeply moving compositions and his fearless willingness to experiment are the very definition of what a true artist is made of.
    </p>
    <p>His albums Playing the Orchestra (1988) and async (2017) show him heading in completely different musical directions, yet both remain so uniquely his own. Playing the Orchestra serves as a beautiful retrospective where you will definitely recognize a couple of his most famous songs brought to life by a full symphony, while async offers a deeply somber, atmospheric, and highly experimental listening experience. He means the absolute world to me, and I truly believe we are all incredibly lucky to exist in a world where, even though he may be gone, his beautiful art survives and remains just as impactful as it ever was.</p>
    <div class="mb-5">
        <h2>Album Links</h2>
        <ul>
            <li><a href="https://www.youtube.com/watch?v=pygwK0sBUdM&list=PLlxVAExh_bYbnN6c4q1EJxcv559obwOBt" target="_blank" rel="noopener">async</a></li>
            <li><a href="https://www.youtube.com/watch?v=-d_BIYSJuRI&list=PL2hTfq59QWCQlWvsZSIMdF1p-wcWm5VwG" target="_blank" rel="noopener">Playing The Orchestra</a></li>
        </ul>
    </div>
<%- include('../partials/footer') %>
