<%- include('../partials/header') %>
    <div class="text-center my-5">
        <img src="https://i.discogs.com/7YTkTuNyLmZ2VVogHVsN2sGxDWuuY8bO1XOBQ5dt8qQ/rs:fit/g:sm/q:90/h:600/w:464/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9BLTUwODct/MTUyODEzNTM3NC01/ODEzLmpwZWc.jpeg" alt="Sakamoto" class="img-fluid" style="max-height:400px;" />
    </div>
<%- include('../partials/footer') %>
