<%- include('../partials/header') %>
    <div class="text-center my-5">
        <img src="https://i.discogs.com/yttsewPfSvnZu2eX7gnAlYAbW44Wo025oe6U62g-9FU/rs:fit/g:sm/q:90/h:600/w:470/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9BLTExOTUz/NTktMTU2NTU1Njkx/OS05NzA1LnBuZw.jpeg" alt="Tomoko" class="img-fluid" style="max-height:400px;" />
    </div>
<%- include('../partials/footer') %>