<%- include('../partials/header') %>
    <div class="text-center my-5">
        <img src="https://i.discogs.com/yttsewPfSvnZu2eX7gnAlYAbW44Wo025oe6U62g-9FU/rs:fit/g:sm/q:90/h:600/w:470/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9BLTExOTUz/NTktMTU2NTU1Njkx/OS05NzA1LnBuZw.jpeg" alt="Tomoko" class="img-fluid" style="max-height:400px;" />
    </div>
    <h1>Tomoko Aran</h1>
    <p>Tomoko Aran has produced two of my absolute favorite albums of all time. I can honestly say that not a single week goes by where I do not listen to them. Her music is incredibly poppy and vibrant with energy, yet it remains completely unafraid to get a little weird and beautifully experimental when you least expect it. Her definitive albums, Fuyu Kukan (1983) and Last Good-bye (1986), are simply undisputed City Pop masterpieces. When you put them on, you can truly feel the deep romance, the lingering heartbreak, and the vibrant, pulsing heartbeat of the neon city glowing in every single track. While the entirety of her musical catalog is absolutely worth exploring, these two lush and synth heavy releases stand head and shoulders above the rest. Every devoted music fan owes it to themselves to take a listen and get lost in her incredible sound.</p>
    <div class="mb-5">
        <h2>Album Links</h2>
        <ul>
            <li><a href="https://www.youtube.com/watch?v=6dVVy-drrZQ&list=PLlJNoFxq7pDma2_eQuNM-uvhfYyaEYzLJ" target="_blank" rel="noopener">Last Goodbye</a></li>
            <li><a href="https://www.youtube.com/watch?v=71rbKHx99Ao&list=PLZQ6ZRAViJWQn0vo7Ogc7WnOg8_ysif0a" target="_blank" rel="noopener">Fuyu Kukan</a></li>
        </ul>
    </div>
<%- include('../partials/footer') %>