<%- include('../partials/header') %>
    <div class="text-center my-5">
        <img src="https://i.discogs.com/n2Zu3I4q4vP-HX3eYQ78DeR3tZreWtxw-edKv-g3Zl4/rs:fit/g:sm/q:90/h:600/w:419/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9BLTIyMDYx/LTE2MzExNDg1NDct/NTI4My5qcGVn.jpeg" alt="YMO" class="img-fluid" style="max-height:400px;" />
    </div>
    <h1>Yellow Magic Orchestra</h1>
    <p>Yellow Magic Orchestra did not just play electronic music they completely defined it, and their influence can still be heavily heard today. Haruomi Hosono, Ryuichi Sakamoto, and Yukihiro Takahashi all went on to have incredibly amazing solo careers, but when they came together, it truly was magic. My two essential picks are Solid State Survivor (1979) and Service (1983). Solid State Survivor is an absolute classic that features a wildly inventive synth cover of The Beatles Day Tripper, alongside the completely mind-blowing, iconic track Rydeen. As for Service, it is a wonderfully weird one. The album is famous for being broken up by a series of comedic theatrical sketches all in Japanese, but the actual musical tracks especially standout songs like Perspective and Limbo make the record completely undeniable.</p>
    <div class="mb-5">
        <h2>Album Links</h2>
        <ul>
            <li><a href="https://www.youtube.com/watch?v=eXw4H2iBDEI&list=RDeXw4H2iBDEI&start_radio=1" target="_blank" rel="noopener">Solid State Survivor</a></li>
            <li><a href="https://www.youtube.com/watch?v=sN2P-muT5gE&list=PL3-t0phqeBhzgMsfAFI9_obiFZnXRKowF" target="_blank" rel="noopener">Service</a></li>
        </ul>
    </div>
<%- include('../partials/footer') %>
