<%- include('../partials/header') %>
    <div class="text-center my-5">
        <img src="https://i.discogs.com/n2Zu3I4q4vP-HX3eYQ78DeR3tZreWtxw-edKv-g3Zl4/rs:fit/g:sm/q:90/h:600/w:419/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9BLTIyMDYx/LTE2MzExNDg1NDct/NTI4My5qcGVn.jpeg" alt="YMO" class="img-fluid" style="max-height:400px;" />
    </div>
<%- include('../partials/footer') %>
